.favourite{
  text-align: center;
}

.favourite > h1{
  
  text-align: center;
}


#favourite-destinations-grid{
  display: flex;
  justify-content: center;
}

.favourite-images{
  width:500px;
  margin: 3%;
}
  
