#popular-destinations-grid {
    display: grid;
    grid-template-areas: 
    'image image image'
    'image image image';
    grid-template-columns: 1fr 1fr 1fr;
}

.popular-images{
    width: 600px;
    margin: 2%;
}

.popular > h1, .popular > p{
    text-align: center;
}